name: Build using Homebrew

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-20.04, macos-latest ]

    runs-on: ${{ matrix.os }}
    name: "${{ github.workflow }}: ${{ matrix.os }}"

    env:
      sgl_REPO_DIR: ${{ github.workspace }}/sgl-repo
      sgl_DIR: ${{ github.workspace }}/sgl

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/checkout@v2
        with:
          repository: chrismile/sgl
          path: sgl-repo
          submodules: true

      - name: Install Dependencies via Homebrew
        shell: bash
        run: |
          # Normally, we would first install Homebrew here: apt install curl,
          # /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          # https://stackoverflow.com/questions/25128546/how-to-automate-homebrew-installation
          if [ "$RUNNER_OS" == "Linux" ]; then
            brew install gcc
          elif [ "$RUNNER_OS" == "macOS" ]; then
            brew install llvm libomp
          else
            echo "$RUNNER_OS is not supported."
            exit 1
          fi
          brew install cmake zlib libpng glm sdl2 sdl2_image libarchive boost tinyxml2 \
          jsoncpp eigen openexr netcdf zeromq cppzmq python@3.9

      - name: Install Vulkan SDK
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            distro_code_name=$(lsb_release -c | grep -oP "\:\s+\K\S+")
            wget -qO - https://packages.lunarg.com/lunarg-signing-key-pub.asc | sudo apt-key add -
            sudo wget -qO /etc/apt/sources.list.d/lunarg-vulkan-${distro_code_name}.list https://packages.lunarg.com/vulkan/lunarg-vulkan-${distro_code_name}.list
            sudo apt update
            sudo apt install vulkan-sdk shaderc
          elif [ "$RUNNER_OS" == "macOS" ]; then
            VULKAN_SDK_VERSION=1.3.204.1
            curl -O https://sdk.lunarg.com/sdk/download/$VULKAN_SDK_VERSION/mac/vulkansdk-macos-$VULKAN_SDK_VERSION.dmg
            sudo hdiutil attach vulkansdk-macos-$VULKAN_SDK_VERSION.dmg
            sudo /Volumes/vulkansdk-macos-$VULKAN_SDK_VERSION/InstallVulkan.app/Contents/MacOS/InstallVulkan \
            --root ~/VulkanSDK/$VULKAN_SDK_VERSION --accept-licenses --default-answer --confirm-command install
            cd ~/VulkanSDK/$VULKAN_SDK_VERSION
            sudo ./install_vulkan.py
            sudo hdiutil unmount /Volumes/vulkansdk-macos-$VULKAN_SDK_VERSION
          else
            echo "$RUNNER_OS is not supported."
            exit 1
          fi

      - name: Configure CMake (sgl)
        shell: bash
        run: |
          params=()
          if [ "$RUNNER_OS" == "Linux" ]; then
            export VULKAN_SDK="/usr"
            export PKG_CONFIG_PATH="/usr/lib/x86_64-linux-gnu/pkgconfig"
          elif [ "$RUNNER_OS" == "macOS" ]; then
            source "$HOME/VulkanSDK/$(ls $HOME/VulkanSDK)/setup-env.sh"
            params+=(-DCMAKE_FIND_USE_CMAKE_SYSTEM_PATH=False -DCMAKE_FIND_USE_SYSTEM_ENVIRONMENT_PATH=False -DCMAKE_FIND_FRAMEWORK=LAST -DCMAKE_FIND_APPBUNDLE=NEVER -DZLIB_ROOT="/usr/local/opt/zlib")
          fi
          cmake "${{env.sgl_REPO_DIR}}" -B "${{env.sgl_REPO_DIR}}/build" -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_INSTALL_PREFIX="${{env.sgl_DIR}}" -DCMAKE_PREFIX_PATH="$(brew --prefix)" "${params[@]}"


      - name: Build (sgl)
        run: cmake --build ${{env.sgl_REPO_DIR}}/build --config ${{env.BUILD_TYPE}} --parallel 4

      - name: Install (sgl)
        run: cmake --build ${{env.sgl_REPO_DIR}}/build --config ${{env.BUILD_TYPE}} --target install

      - name: Configure CMake (LineVis)
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            export VULKAN_SDK="/usr"
            export PKG_CONFIG_PATH="/usr/lib/x86_64-linux-gnu/pkgconfig"
          elif [ "$RUNNER_OS" == "macOS" ]; then
            source "$HOME/VulkanSDK/$(ls $HOME/VulkanSDK)/setup-env.sh"
            params+=(-DCMAKE_FIND_USE_CMAKE_SYSTEM_PATH=False -DCMAKE_FIND_USE_SYSTEM_ENVIRONMENT_PATH=False -DCMAKE_FIND_FRAMEWORK=LAST -DCMAKE_FIND_APPBUNDLE=NEVER -DZLIB_ROOT="/usr/local/opt/zlib")
          fi
          cmake -B "${{github.workspace}}/build" -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -Dsgl_DIR=${{env.sgl_DIR}}/lib/cmake/sgl -DCMAKE_PREFIX_PATH="$(brew --prefix)" "${params[@]}"

      - name: Build (LineVis)
        run: cmake --build "${{github.workspace}}/build" --config ${{env.BUILD_TYPE}} --parallel 4
